<div><h1 class="text-center mt-4">Jabs listing page </h1></div>
<br></br>
<div> <br><%= will_paginate @jabs, :container => false %>
</div></br>
<%= render 'jab' %>
<div> <%= will_paginate @jabs, :container => false %>
</div>